* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

.navbar {
    background-color: #162e04;
    color: #97e66c;
}

.nav-list {
    list-style-type: none;
    display: flex;
    padding-left: 50px;
    gap: 4px;
}

.navbar ul .li {
    cursor: pointer;
    font-size: small;
}

.navbar .div {
    display: flex;
    align-items: center;
    padding-left: 120px;

}

.hover-white:hover {
    color: white;
}

.b-button {
    border: 2px solid #97e66c;
    padding: 8px 19px;
    padding-left: 5px;
    border-radius: 20px;
}

button {
    background-color: #97e66c;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;

}

.navbar ul li {
    padding: 6px 12px;
    border-radius: 20px;
}

.hower:hover {
    background-color: #214606;

}

.nav-2row {
    margin-left: 31.5rem;


}

.navbar .div .logo {
    width: 95px;
    height: 93px;
}

.features {
    background-color: #304620;
    color: #97e66c;
    width: 1750px;
}

.features ul {
    padding: 15px 110px;

}

.features ul .t-s {
    font-size: 17px;
    padding-top: 8px;
}

.features ul li:hover {
    background-color: #4d6e33;
}

.features ul li {
    padding: 4px 12px;
    border-radius: 20px;
}

header {
    position: relative;

}

body {
    height: 1500px;
    background-color: #162e04;
}

.hover-tab {
    position: absolute;
    top: 75px;
    right: 410px;
    background-color: white;
    border-radius: 20px;
    height: 500px;
    width: 505px;
    color: rgb(96, 94, 94);

}

.tab-img {
    width: 60px;

    padding: 30px 0px 0px 55px;

}

.tab-1 {
    width: 100%;
    height: 40%;
    background-color: #F0F0F0;
    border-radius: 20px 20px 0 0;
}

.tab-1 p {
    padding: 5px 45px;
    font-size: small;
    line-height: 1.8;
}

.tab-list {
    list-style-type: none;
    padding: 40px 40px;
    line-height: 1.5;
    color: #162e04;
    font-weight: bold;
    font-size: small;
}

.arow-hover:hover::after {
    content: "   >";
    opacity: 2;
}

.link-style {
    text-decoration: none;
    color: inherit;
}

.heading {
    color: #97e66c;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 1000;
    /* ya bold bhi likh sakta hai */
    letter-spacing: -5px;
    word-spacing: -4px;
    line-height: 0.8;

}